body {
  background: #f3f1f2;
  font-family: sans-serif;
}

#render-target {
  margin: 1rem 4rem;
}

#render-target .ql-editor {
  min-height: 18em;
}

#render-target .ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
